{% extends 'reviews/base.html' %}
{% load static %}  {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ReviewHub{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <div class="orb orb-1"></div>
    <div class="orb orb-2"></div>

    <header>
        <h1>Reviews</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'movie_list' %}">Movies</a>
            <a href="{% url 'book_list' %}">Books</a>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>